In [2]:
import pandas as pd
import numpy as np

In [3]:
#1.Dataset Loading and Basic Information
df=pd.read_csv("D:/OASIS DATA ANALYSIS/project3/AB_NYC_2019.csv")
df.info()

print("\nFew rows from top:\n\n",df.head(5))
print("\nFew rows from below:\n\n",df.tail(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

Few rows from top:

      id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  2018-10-19
1  Entire home/apt    225               1                 45  2019-05-21
2     Private room    150               3                  0         NaN
3  Entire home/apt     89               1                270  2019-07-05
4  Entire home/apt     80              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2                NaN                               1               365
3               4.64                               1               194
4               0.10                               1                 0

Few rows from below:

              id                                               name   host_id  \
48890  36484665    Charming one bedroom - newly renovated rowhouse   8232441
48891  36485057      Affordable room in Bushwick/East Williamsburg   6570630
48892  36485431            Sunny Studio at Historical Neighborhood  23492952
48893  36485609               43rd St. Time Square-cozy single bed  30985759
48894  36487245  Trendy duplex in the very heart of Hell's Kitchen  68119814

           host_name neighbourhood_group       neighbourhood  latitude  \
48890        Sabrina            Brooklyn  Bedford-Stuyvesant  40.67853
48891        Marisol            Brooklyn            Bushwick  40.70184
48892  Ilgar & Aysel           Manhattan              Harlem  40.81475
48893            Taz           Manhattan      Hell's Kitchen  40.75751
48894     Christophe           Manhattan      Hell's Kitchen  40.76404

       longitude        room_type  price  minimum_nights  number_of_reviews  \
48890  -73.94995     Private room     70               2                  0
48891  -73.93317     Private room     40               4                  0
48892  -73.94867  Entire home/apt    115              10                  0
48893  -73.99112      Shared room     55               1                  0
48894  -73.98933     Private room     90               7                  0

      last_review  reviews_per_month  calculated_host_listings_count  \
48890         NaN                NaN                               2
48891         NaN                NaN                               2
48892         NaN                NaN                               1
48893         NaN                NaN                               6
48894         NaN                NaN                               1

       availability_365
48890                 9
48891                36
48892                27
48893                 2
48894                23

In [4]:
#2.Checking for missing values
print(df.isnull().sum())

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [5]:
#filling the missing value in last_review and reviews_per_month
df.fillna({'last_review':'no review'}, inplace=True)
df.fillna({'reviews_per_month':0}, inplace=True) #0 as no review

In [6]:
#removing missing rows for name and host_name as they are identifiers
df.dropna(subset=['name','host_name'], inplace=True)

In [7]:
print(df.isnull().sum()) #checking for any missing value left

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [8]:
#3.Removing any duplicate values to avoid redundancy
before=df.shape[0]
print(before)
df.drop_duplicates(inplace=True)
after=df.shape[0]
print(after) #before and after is equal so there was no duplicate values

48858
48858

In [9]:
#4.Standardizing values
#checking for negative value in non-negative columns
print(df['price'].min())
print(df['reviews_per_month'].min())
print(df['number_of_reviews'].min())
print(df['minimum_nights'].min())
print(df['calculated_host_listings_count'].min())
print(df['availability_365'].min())

#Removing list with zero price as price cannot be zero
df = df[df['price'] > 0]

0
0.0
0
1
1
0

In [10]:
#5.outlier detection and removal
upper_limit = df['price'].quantile(0.99) # Price can have extreme values that skew the analysis
print("99th percentile price threshold:", upper_limit)  # Using the 99th percentile as a threshold to filter out outliers

# Filter out outliers
df = df[df['price'] <= upper_limit]

99th percentile price threshold: 799.0

In [11]:
print(df['minimum_nights'].describe())# minimum nights also contains outliers
#using interquartile method to filter out outliers
Q1 = df['minimum_nights'].quantile(0.25)
Q3 = df['minimum_nights'].quantile(0.75)
IQR = Q3 - Q1
upper_bound = Q3 + 1.5 * IQR
print("Upper bound for minimum_nights (IQR method):", upper_bound)

# Filter out outliers
df = df[df['minimum_nights'] <= upper_bound]

count    48373.000000
mean         6.961776
std         19.791815
min          1.000000
25%          1.000000
50%          3.000000
75%          5.000000
max       1250.000000
Name: minimum_nights, dtype: float64
Upper bound for minimum_nights (IQR method): 11.0

In [12]:
print(df['calculated_host_listings_count'].describe())# this also contains outliers
#using interquartile method to filter out outliers
Q1 = df['calculated_host_listings_count'].quantile(0.25)
Q3 = df['calculated_host_listings_count'].quantile(0.75)
IQR = Q3 - Q1
upper_bound = Q3 + 1.5 * IQR
print("Upper bound for calculated_host_listings_count (IQR method):", upper_bound)

# Filter out outliers
df = df[df['calculated_host_listings_count'] <= upper_bound]

count    41853.000000
mean         3.402217
std         22.067796
min          1.000000
25%          1.000000
50%          1.000000
75%          2.000000
max        327.000000
Name: calculated_host_listings_count, dtype: float64
Upper bound for calculated_host_listings_count (IQR method): 3.5

In [13]:
#Data Integrity Check
#basic info after cleaning
print("Cleaned Data info:\n")
df.info()

Cleaned Data info:

<class 'pandas.core.frame.DataFrame'>
Index: 37798 entries, 1 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              37798 non-null  int64
 1   name                            37798 non-null  object
 2   host_id                         37798 non-null  int64
 3   host_name                       37798 non-null  object
 4   neighbourhood_group             37798 non-null  object
 5   neighbourhood                   37798 non-null  object
 6   latitude                        37798 non-null  float64
 7   longitude                       37798 non-null  float64
 8   room_type                       37798 non-null  object
 9   price                           37798 non-null  int64
 10  minimum_nights                  37798 non-null  int64
 11  number_of_reviews               37798 non-null  int64
 12  last_review                     37798 non-null  object
 13  reviews_per_month               37798 non-null  float64
 14  calculated_host_listings_count  37798 non-null  int64
 15  availability_365                37798 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 4.9+ MB

In [14]:
df.to_csv("D:/OASIS DATA ANALYSIS/project3/AB_NYC_2019_cleaned.csv")
print("Cleaned data saved..")

Cleaned data saved..